// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

.button__container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.button__container > button {
  padding: 0.5rem;
  border: 0;
  font-weight: bold;
  color: #fff;
  background-color: #000;
}
